#========== OWNER ==========
WALLET="~/wallet.pem"
WALLET_SOVEREIGN="~/MultiversX/testnet/node/config/walletKey.pem"

#========== NETWORKS CONFIGURATION ==========
MAIN_CHAIN_ELASTIC=https://testnet-index.multiversx.com
PROXY=https://testnet-gateway.multiversx.com
CHAIN_ID=T
SOVEREIGN_FORGE_ADDRESS="erd1qyu5wthldzr8wx5c9ucg8kjagg0jfs53s8nr3zpz3hypefsdd8ssycr6th"
PROXY_SOVEREIGN=http://localhost:${PORT_PROXY}

#========== NATIVE TOKEN CONFIGURATION ==========
NATIVE_ESDT_TICKER=SOV
NATIVE_ESDT_NAME=SovToken

#========== MAIN CHAIN CONSTANTS ==========
ESDT_ISSUE_COST=50000000000000000

#========== SOVEREIGN PATHS ==========
SOVEREIGN_DIRECTORY="~/sovereign"
TXS_OUTFILE_DIRECTORY="${SOVEREIGN_DIRECTORY}/txsOutput"
CONTRACTS_DIRECTORY="${SOVEREIGN_DIRECTORY}/contracts"

#========== CONTRACT FILES ==========
SOVEREIGN_FORGE_ABI="${CONTRACTS_DIRECTORY}/sovereign-forge.abi.json"
PHASE_ONE_ARGS_FILE="${CONTRACTS_DIRECTORY}/deploy-phase-one-args.json"
REGISTER_NATIVE_ESDT_ARGS_FILE="${CONTRACTS_DIRECTORY}/register-native-esdt-args.json"
SOV_ESDT_SAFE_WASM="${CONTRACTS_DIRECTORY}/sov-esdt-safe.wasm"
SOV_FEE_MARKET_WASM="${CONTRACTS_DIRECTORY}/sov-fee-market.wasm"
SOV_REGISTRAR_WASM="${CONTRACTS_DIRECTORY}/sov-registrar.wasm"
